<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="server" value="http://QAENACTV11WEB1/"/>
    <add key="organization" value="EnactDev"/>
    <add key="directory_path" value="C:\Users\ssakhine\Documents\CRM\CRA"/>
    <add key="archive_path" value="C:\Users\ssakhine\Documents\CRM\CRA\Archive"/>
    <add key="directory_path_campaigns" value="C:\Users\ssakhine\Documents\CRM\CampaignTool"/>
    <add key="archive_path_campaigns" value="C:\Users\ssakhine\Documents\CRM\CampaignTool\Archive"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="emailsubject" value="CRA Weekly Update"/>
    <add key="emailsubject_campaigns" value="Campaign Update"/>
    <add key="fromemail" value="crmsupport@wintrust.com"/>
    <add key="toemails" value="ssakhinetipalli@wintrust.com"/>
    <add key="toemails_campaigns" value="ssakhinetipalli@wintrust.com"/>
    <add key="Process" value="Campaigns" />
  </appSettings>
    <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="wtfcibcappdevwd@wintrust.com">
        <network host="wtfcexchvch1.wintrust.wtfc" port="25" defaultCredentials="false" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
