<log4net>
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="console" />-->
    <appender-ref ref="file" />
  </root>
  <!--<appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p%d{ yyyy-MM-dd HH:mm:ss} – %m %n" />
    </layout>
  </appender>-->
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <!--<file value="app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="logs\CampaignUpdates_" />
    <!-- log folder and 'workflowExecution_' prefix for the files -->
    <datePattern value="dd.MM.yyyy'.txt'" />
    <!-- Append the date to the name of the log -->
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p%d{ yyyy-MM-dd HH:mm:ss} - method:%method line: %line - %m %n" />
    </layout>
  </appender>
</log4net>